body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #1a0033);
    color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(44, 40, 48);
    padding: 15px 30px;
    position: relative;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #f5c542;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 18px;
    background: #2b0057;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    background: #8a2be2;
    transform: translateY(-2px);
}
.nav-links a:active {
    transform: scale(0.95);
}
.header-image {
    position: relative;
    height: 1200px;
    width: 100%;
    overflow: hidden;
}

.header-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://a.d-cd.net/8cc33f2s-960.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: scale(1.1); 
    z-index: -1;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #f5c542;
}
h2 {
    text-align: center;
    color: #f5c542;
}
p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;
    text-align: center;
}
.ggl {
    background: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 12px 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.center {
    text-align: center;
    color: #f5c542;
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(0,0,0,0.7);
}

th, td {
    padding: 10px;
    border: 1px solid white;
}


ul {
    max-width: 600px;
    margin: 20px auto;
}


.video-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.video-container iframe {
    width: 560px;
    height: 315px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.6);
}